body{
    background-color:red;
    letter-spacing: 0.2em;
}
.top{
    text-align:center;
}
@media (min-width: 670px)
{
.profile-content{
    display: flex;
    width: 850px;
    margin: 0 auto;
}
.main-work p{
    text-align: center;
}

.content-portfolio{
    padding: 0 60px;
}

.work-content{
    width: 600px;
    display: flex;
    margin: 0 auto;

}
}

img{
    height: 200px;
    width: 150px;
}

.main-work img{
    height: 210px;
    width: 270px;
}

a:hover{
    opacity:0.5;
}