body{
    letter-spacing: 0.2em;
    background-color: bisque;
}
.top{
    text-align: center;
}

.profile-content{
    display: flex;
    width: 850px;
    margin: 0 auto;
}


img{
    height: 200px;
    width: 150px;
}

.main-work img{
    height: 210px;
    width: 270px;
}

.main-work p{
    text-align: center;
}

.content-portfolio{
    padding: 0 60px;
}

.work-content{
    width: 600px;
    display: flex;
    margin: 0 auto;

}